<h1>Ascii Chessboard</h1>

<form action="/select_fen" method="post" id="fen_selection_form">
  <select name="fen_dropdown" id="fen_dropdown">
    <option value="standard starting position" <%= 'selected' if session[:last_selected_fen_source] == 'standard starting position' %>>Standard Starting Position</option>
    <option value="lichess daily puzzle" <%= 'selected' if session[:last_selected_fen_source] == 'lichess daily puzzle' %>>Lichess Daily Puzzle</option>
    <option value="chess.com daily puzzle" <%= 'selected' if session[:last_selected_fen_source] == 'chess.com daily puzzle' %>>Chess.com Daily Puzzle</option>
  </select>
</form>
<form action="/submit_fen" method="post">
  <input type="text" name="fenBox" value="<%= session[:fenState] %>">
  <input type="submit" value="Update Board">
</form>

<% if session[:current_board] %>
  <pre><%= session[:current_board] %></pre>
<% else %>
  <p>No board to display. Current session: <%= session.inspect %></p>
<% end %>
<form action="/submit_move" method="post">
  <input type="text" name="move" placeholder="Move">
  <input type="submit" value="Submit Move">
</form>

<form action="/navigate" method="post">
  <button type="submit" name="direction" value="-1">Previous Move</button>
  <button type="submit" name="direction" value="1">Next Move</button>
</form>

<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', function() {
    var dropdown = document.getElementById('fen_dropdown');
    dropdown.addEventListener('change', function() {
      document.getElementById('fen_selection_form').submit(); // Submit the form when the dropdown changes
    });
  });
</script>

